---
---


<section class="product-outline padded" id="join">
    <div class="container">
   
        <div class="text-container center">
          <h2 class="h1-title">Diadica estará disponible muy pronto</h2>
          <p>Regístrate ahora para recibir una notificación en cuanto la aplicación esté disponible y obtén un descuento exclusivo por ser uno de los primeros en descargarla.</p>

          <div class="content-form row">
            <input type="text" placeholder="Introduce tu correo electrónico" class="eight columns">
            <button class="button button-primary four columns">Vamos</button>
         </div>
        </div>
      
      </div>
</section>


<style lang="scss">

.product-outline{
  background-color: #fff;
}

</style>